/**LISTO**/

.card {
  background-color: var(--color-cards);
  width: 50dvh;
  height: 69dvh;
  border-radius: 1.1dvh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: var(--color-box-shadow);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
  transform: scale(1.04);
  transition: all 0.3s ease-in-out;
}

.card__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.87dvh;
}

.card__imagen-contenedor {
  width: 100%;
  height: 35dvh;
}

.card__imagen {
  width: 100%;
  height: 100%;
  border-radius: 1.15dvh;
  object-fit: cover;
}

.card__contenido {
  margin: 1.72dvh 0.86dvh 4.31dvh 0.86dvh;
  text-align: center;
}
.card__contenido p {
  margin-top: 0.625rem;
}
.card__detalles {
  font-weight: bold;
  font-size: larger;
  text-align: center;
  background-color: var(--color-botones);
  border-radius: 1.1dvh;
  margin: 0.28dvh;
  padding: 0.719dvh;
  position: absolute;
  right: 0.28dvh;
  bottom: 0.28dvh;
}

.card__detalles a {
  text-decoration: none;
}

@media (width <= 350px) {
  .card__imagen-contenedor {
    border: 1px solid red;
    height: 30dvh;
  }

  .card__contenido p {
    margin-top: 4dvh;
  }
}
@media (width > 350px) and (width <= 500px) {
  .card__contenido p {
    margin-top: 2dvh;
  }
}
