/**HEADER LISTO**/

.titulo {
  margin-top: 2.87dvh;
  text-align: center;
  padding: 3dvh;
  background-color: var(--color-fondo-alternativo);
  border-radius: 1.72dvh;
  font-style: italic;
  box-shadow: var(--color-box-shadow);
  margin-bottom: 1rem;
}

#titulo-principal {
  margin-bottom: 3rem;
}
.contenedor-nombre-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0dvh 1.72dvh;
  border-radius: 1.72dvh;
}
.imagen {
  width: 21.5dvh;
  height: 21.5dvh;
}

.navegacion {
  border: 0.143dvh solid black;
  background-color: var(--color-fondo-alternativo);
  padding: 1.15dvh 0dvh;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
}

.navegacion__links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navegacion__links a {
  text-decoration: none;
}

.navegacion__links a:hover {
  border-bottom: 0.24dvh solid #202020;
  color: #202020;
  transition: all 0.3s ease-in-out;
}

@media (width <= 600px) {
  .contenedor-nombre-logo h1 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1.72dvh;
  }
  .contenedor-nombre-logo {
    flex-direction: column;
  }
  .imagen {
    width: 20dvh;
    height: 20dvh;
    margin-bottom: 1.72dvh;
  }
  .navegacion__links {
    flex-direction: column;
    align-items: center;
    gap: 1.72dvh;
  }
}
@media (width>600px) and (width<762.40px) {
  .contenedor-nombre-logo h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.72dvh;
  }
  .imagen {
    width: 20dvh;
    height: 20dvh;
  }
}
