/**LISTO**/

:root {
  --color-fondo: #f4e1c6;
  --color-subtitulo: #452a0dd8;
  --color-titulo: #431e09;
  --color-primario-texto: #613d27;
  --color-secundario-texto: #7c5e45;
  --color-fondo-alternativo: #f8f1ea;
  --color-destacados: #4a2c1d;
  --color-botones: #d9a05bd2;
  --color-botones-alternativo: #ead3b9;
  --color-cards: #ead3b0;
  --color-box-shadow: 0px 4px 8px #2020206d;
}
