.volver {
  color: var(color-texto-alternativo);
  border: 0.1438dvh solid var(--color-destacados);
  padding: 1.438dvh;
  font-size: large;
  border-radius: 2.3dvh;
}

.volver a:hover {
  border-bottom: 0.24dvh solid #202020;
  color: #202020;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
